* {
    margin: 0px;
    border: none;
    padding: 0px;
}

body {
    background-color: rgb(83, 91, 92);
}

.content {
    width: 100%;
    margin: 50px 0px 35px 0px ;
}
.logo {
    width: 190px;
    height: 110px;
    display: grid;
    grid-template: 10px 90px 10px / 90px 10px 90px;
    margin: 0px auto;
    margin-top: 50px;
    margin-bottom: 25px;
}
.odd {
    z-index: 2;
    grid-area: 1 / 1 / span 2;
}
.even {
    z-index: 1;
    grid-area: 2 / 2 /3 /4;
}
img {
    border-radius: 50px;
    width: 100px;
    height: 100px;
}

.game-board {
    background-color: rgb(255, 255, 255);
    width: clamp(300px, 70vw, 350px);
    height: clamp(300px, 70vw, 350px);
    display: grid;
    grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr;
    gap: 2px;
    box-sizing: border-box;
    margin: 0 auto;
}

.game-board>div>button {
    width: 100%;
    color: rgb(199, 198, 211);
    height: 100%;
    font-family: cursive;
    font-size: 3rem;
    border-radius: 2px;
    background-color: rgb(112, 115, 118);
}

.game-board>div>button:disabled {
    background-color: rgba(94, 105, 105, 0.809);
}

.restart {
    width: clamp(300px, 70vw, 350px);
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr 1fr ;
    margin: 0 auto;
    gap: 20px 5px;
    box-sizing: border-box;
    padding: 20px 0px;
}
.restart > button {
    width: 100px;
    height: 30px;
    color: rgb(0, 200, 255);
    border-radius: 5px;
    background-color: rgb(0, 0, 0);
    font-family: serif, cursive, monospace, sans-serif;
    font-size: 0.9rem;
    margin: 0 auto;
    grid-area: 2 / 2 / 2 / 3;
}
.score {
    display: grid;
    grid-area: 1 / 1 / 2 / 4;
    grid-template: 1fr / 1fr 1fr;
    justify-items: center;
    align-items: center;
    gap: 5px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.1rem;
}
.O {
    display: grid;
    grid-template: 1fr / 1fr 30px;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-items: center;
}
.X {
    display: grid;
    height: 100%;
    width: 100%;
    grid-template: 1fr / 30px 1fr;
    align-items: center;
    justify-items: center;
}
span {
    font-family: sans-serif;
}
.winnerDisplayer {
    height: 40px;
    background-color: rgb(206, 206, 206);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    width: clamp(300px, 70vw, 350px);
    margin: 10px auto 20px auto;
}
.winnerDisplayer>p {
    font-family: monospace;
    color: rgba(0, 200, 255, 0.746);
    font-size: 1.01rem;
    font-weight: 600;
}